*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}
html{
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
body{
    background-color: rgb(0, 29, 63);
}
header{
    font-size: 3rem;
    text-align: center;
    margin: 50px 0px;
    margin-bottom: 100px;
    color: rgb(255, 255, 255);

}
.wrapper{
    background-color: rgb(199, 237, 251);
    margin: auto;
    max-width: 500px;
    height: 550px;
    padding: 10px;
    border: 2px solid rgb(1, 46, 71);
    border-radius: 10px;
}

.screen{
    text-align: center;
    height: 60px;
    background-color: rgb(210, 250, 255);
    text-align: end;
    margin: 10px 20px;
    border: 2px solid rgb(1, 46, 71);
    line-height: 60px;
    overflow: hidden;
}

p{
    font-size: 2rem;
}
.functionality{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.functionality button{
    margin: 0px 10px;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 20px;
    gap: 5px;
}
button{
    width: 100%;
    height: 85px;
    background-color: rgb(124, 235, 255);
    outline: none;
    border: 2px solid rgb(1, 46, 71);
    font-size: 1.5rem;
    border-radius: 10px;
}

button:hover{
    border: 2px rgb(255, 255, 255) solid;
}

button:active{
    font-size: 1.2rem;
    border: 2px rgb(0, 0, 0) solid;
    background-color: rgb(8, 156, 255);
}

#zero{
    grid-column: 1/3;
}

a{
    color: rgb(103, 237, 255);
}
footer{
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
}